
.booking-container{
    text-align: center;
   
}


label{
    margin: 10px;
}
.button{
    height: 32px;
    width: 132px;
    border-width: 0px;
    border-radius: 6px;
    background-color: rgb(35, 117, 90);
    color: #ffffff;
    cursor: pointer;
}
input{
    margin: 10px;

}
p{
    margin: 10px;
}
h1{
    margin-top: 30px;
}